@import "tailwindcss";
body {
  font-family: "poppins";
}

@media screen and (max-width: 700px) {
  .head-text h3 {
    font-size: 17px !important;
  }
  .head-text p {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 558px) {
  .head-text {
    display: none !important;
  }
  .logo {
    height: 60px !important;
  }
}
